// —— 布局：间距/列宽/描边/阴影 ——

layout {
    gaps 12
    center-focused-column "never"
    always-center-single-column
    empty-workspace-above-first

    default-column-width { proportion 0.5; }
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    // 1px 极淡描边勾边
    focus-ring {
        width 2
        active-color "#ffffff4d"
        inactive-color "#ffffff14"
    }

    border {
        off
    }

    // 柔和阴影：softness 大、透明度低
    shadow {
        on
        softness 40
        spread 6
        offset x=0 y=6
        color "#00000045"
    }

    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
}
