[Unit]
Description=23:30 开 DND / 07:00 关 DND

[Timer]
OnCalendar=*-*-* 23:30:00
OnCalendar=*-*-* 07:00:00
Persistent=true
Unit=rice-dnd.service

[Install]
WantedBy=timers.target
